<configuration>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
	<rule name="authy">
          <match url="authy/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite> 
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <staticContent>
        <remove fileExtension=".json" />
    	<mimeMap fileExtension=".json" mimeType="application/json"  />
    </staticContent>
  </system.webServer>
</configuration>
